.input{
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}

.input__box{
    width: 100%;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 25px;
    border: none;
    /* outline: none; */
    box-shadow: inset 0 0 5px #000;
    transition: 0.2s;
}

.input__box:focus{
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.input__submit{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    border-radius: 50%;
    margin: 12px;
    border: none;
    font-size: 15px;
    background-color: #2f74c0;
    color: rgb(255, 255, 255);
    transition: 0.5s all;
    box-shadow: 0 0 10px #000;
    cursor: pointer;
}

.input__submit:hover{
    background-color: #388ae2;

}

.input__submit:active{
    transform: scale(0.8);
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

/*Todo style*/

.todo{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
}

.todos__card{
    display: flex;
    width: 29.5%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
}

.card__text{
    flex: 1;
    padding-top: 5px;
    font-size: 20px;
    /* border: 1px solid red; */
    text-transform: capitalize;
}

.todos__text:focus{
    outline: none;
}

.icon{
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

/*media query for Todos*/

@media (max-width: 1200px){
    .todos__card{
        width: 40%;
    }
}

@media screen and (max-width: 700px) {
    .input{
        width: 95%;
    }

    .todo{
        width: 95%;
    }
    .todos__card {
      width: 100%;
    }
    
}